<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/boostrap.min.css"/>
</head>
<body>
    <div class="container text-center">
        <div>
            <h1> welcome, how're you doing today </h1>
        </div>
        <div>
            <h3><a th:href="@{/register}"> Users</a></h3>
            <h3><a th:href="@{/register}"> Sign Up</a></h3>
            <h3><a th:href="@{/register}"> Login</a></h3>
        </div>
    </div>
</body>
</html>